* {
    margin: 0;
    padding: 0;
}
.container {
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    border: 2px solid #0b6961;
    background-color: rgb(185, 173, 100);
}

h2 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 15px;
}

.display {
    width: 75%;
    padding: 15px;
    font-size: 28px;
    border: 2px solid #3f8039;
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 5px;
    text-align: right;
    box-sizing: border-box;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
.display1{
    width: 20%;
    padding: 15px;
    font-size: 28px;
    border: 2px solid #2a8319;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: right;
    box-sizing: border-box;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 16px;
    border: 2px solid #318b29;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    background: white;
}

button:hover {
    background: #a7a562;
}

button:active {
    background: #918f4b;
}